body {
	background: #eee;
}

#content {
	width: 750px;
	padding: 20px;
	padding-top: 0;
	font-family: calibri;
	font-size: 18px;
	color: white;
	background-color: #444;
	margin: 0 auto;
	margin-left: 20px;
	max-height: 1280px;
	overflow: hidden;
	border-style: dashed;
	border-width: 3px;
	border-color: #f2f2f2;
}